:root {
  --color-primary: #ffffff;
  --color-secondary: #ebeaea;
  --color-accent: #1d1d1d;

  --max-width: 1360px;
}

* {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  margin: 0 0 30px;
  line-height: 2rem;

  display: flex;
  align-items: center;
  gap: 10px;
}

p {
  line-height: 30px;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
}

@media screen and (min-width: 1380px) {
  .html {
    font-size: 16px;
  }
}
