.header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: var(--color-primary);
  border-bottom: 1px solid var(--color-accent);

  .headerItemWrapper {
    width: fit-content;
    padding: 40px;
    border-left: 1px solid var(--color-accent);
    border-right: 1px solid var(--color-accent);

    &:first-child {
      border-left: none;
    }

    &:last-child {
      border-right: none;
    }
  }

  .logo {
    object-fit: contain;
    width: 150px;
  }
}

@media screen and (min-width: 1380px) {
  .header {
    justify-content: flex-start;
  }
}
