.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  gap: 40px;
  border-top: 1px solid var(--color-accent);
  margin: auto 0 0 0;

  p {
    margin: 0 0 20px;
  }

  a {
    color: var(--color-accent);
  }

  .logo {
    object-fit: contain;
    width: 120px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1380px) {
  .footer {
    padding: 80px;
    flex-direction: row;

    .logo {
      margin: 0;
    }
  }
}
